# App image
APP_IMAGE=quarkus/tixie-core-backend-jvm
APP_PORT=8080

# Tixie application database
POSTGRES_DB=tixie
POSTGRES_USER=tixie
POSTGRES_PASSWORD=change_me

# OIDC
OIDC_AUTH_SERVER_URL=http://keycloak:8080/realms/tixie
OIDC_CLIENT_ID=tixie-browser

# Swagger UI in prod
SWAGGER_UI_ENABLED=false

# Keycloak
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=change_me
KEYCLOAK_HOSTNAME=localhost
KEYCLOAK_PORT=8180
KEYCLOAK_HTTP_ENABLED=true

# Keycloak database
KEYCLOAK_DB_NAME=keycloak
KEYCLOAK_DB_USER=keycloak
KEYCLOAK_DB_PASSWORD=change_me
